
.vs/My_First_Cpp_Game/FileContentIndex/08cd24bc-6c39-4a2a-a909-be805fba1960.vsidx
.vs/My_First_Cpp_Game/v17/Browse.VC.db
.vs/My_First_Cpp_Game/FileContentIndex/f1a94d1d-0ec0-4d9f-903a-002767c48848.vsidx
.vs/My_First_Cpp_Game/v17/Browse.VC.db-shm
.vs/My_First_Cpp_Game/v17/Browse.VC.db-wal
.vs/My_First_Cpp_Game/v17/Browse.VC.opendb
.vs/My_First_Cpp_Game/v17/ipch/AutoPCH/4a42a9e11d5ee11a/WIN32_PLATFORM.ipch
